.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
.preloader{
  width: 50px;
  height: 50px;
  border: 6px solid transparent;
  border-bottom: 6px solid #fc0 ;
  border-left: 6px solid #fc0 ;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate 1s infinite linear;
}
/* Анимируем наш прелоадер */
@keyframes animate{
0%{
  transform: rotate(0);
}
100%{
  transform: rotate(360deg);
}
}
.carousel
{
    margin-top: 20px;
    justify-content: space-around;
    text-align: center;
    margin-bottom:20px;;
}
.img-carousel
{
    width: 80%;
}
.carousel-indicators
{
    cursor: pointer;
}
.carousel li{
    background: black;
}
#mainText
{
    font-size:20px;
}
footer
{
    border-bottom: 10px solid currentColor;
}
.category
{
    width: 100%;
color: whitesmoke;
background-color: black;
}
a{
    text-decoration:none;
} 
  
  .not-correct
  {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.973);
  }
  .curimg
  {
    padding-top:25px;border-radius:100px;
  }
  .curdiv{
    padding-top:20px;border-radius: 0 15px 0px 0px;
  }
  @media screen and (max-width: 990px)
  {
    .rowcur{
      display: block;
    }
    .curimg
    {
      width: 100%;
      padding-left:15px;

      padding-top:25px;
      border-radius:40px;
    }
  .curdiv
    {
      border-radius: 0 0px 0px 0px;
    }
  }